
mongo-urls:
    general: "{{ incres_db_general }}"
    nat-built: "{{ incres_db_nat_built }}"
    nat-teardown: "{{ incres_db_nat_teardown }}"
    dhcp-ack: "{{ incres_db_dhcp_ack }}"
    arp: "{{ incres_db_arp }}"

events:
    nat_built:
        database: "{{ incres_db_nat_built }}"
        age_days: 30
        index_lag_hours: 2
        log_path: "/logs/firewall/fw.log"

    nat_teardown:
        database: "{{ incres_db_nat_teardown }}"
        age_days: 30
        index_lag_hours: 2
        log_path: "/logs/firewall/fw.log"

    dhcp:
        database: "{{ incres_db_dhcp_ack }}"
        age_days: 30
        index_lag_hours: 2
        log_path: "/logs/dhcp/dhcp.log"

    arp:
        database: "{{ incres_db_arp }}"
        age_days: 30
        index_lag_hours: 2
        directory: "/logs/arp"
        file_prefix: "macdump"
        date_format: "YYYYMMDD.HHmm"

correlation:
    connection:
        database: "{{ incres_db_connection }}"
        smtp_server: "{{ incres_smtp_server }}"
        ticket_email: "{{ incres_ticket_email }}"

web:
    database: "{{ incres_db_web }}"
    port: 80
    session-key: "{{ incres_session_key }}"
    auth:
        users: "{{ incres_web_users }}"
            
    
external:
    airwave:
        user: "{{ incres_airwave_user }}"
        password: "{{ incres_airwave_pw }}"
        url: "{{ incres_airwave_url }}"


