
mongo-urls:
    general: "{{ incres_db_general }}"
    nat-built: "{{ incres_db_nat_built }}"
    nat-teardown: "{{ incres_db_nat_teardown }}"
    dhcp-ack: "{{ incres_db_dhcp_ack }}"
    arp: "{{ incres_db_arp }}"


logging:
    nat-built:
        workers: 2
        log-path: "/data/firewall/fw.log"

    nat-teardown:
        workers: 2
        log-path: "/data/firewall/fw.log"

    dhcp-ack:
        log-path: "/data/dhcp/dhcp.log"

    arp:
        directory: "path/to/dir"
        file-prefix: "macdump"

web:
    port: 80
    cas-auth: !!bool false 
    use-ssl: !!bool false
    ssl-cert: "/path/to/cert.crt"
    ssl-key: "/path/to/key.key"
    user: "nobody"
    session-key: "{{ incres_session_key }}"
    debug: !!bool false
    debug-src: "path/to/static"                                 
    

airwave:
    user: "{{ incres_airwave_user }}"
    password: "{{ incres_airwave_pw }}"
    url: "{{ incres_airwave_url }}"


indexer:
    lag-hours: 1


culler:
    age-days: 14

